body {
  font-family: Arial;
  text-align: center;
  background-color: #fce4ec;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor {
  background: #f8bbd0;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  width: 450px;
}
.contenedor-index {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
}
.boton-link {
  background: #f06292;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 15px;
}
a {
  text-decoration: none;
}
/* formulario */

input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #f48fb1;
  border-radius: 5px;
  background: #fce4ec;
  color: #2d2c2c;
  text-align: center;
}

button {
  background: #f06292;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 15px;
}

#resultado {
  margin-top: 20px;
  padding: 10px;
  background: #ffd1dc;
  color: #2d2c2c;
  border-radius: 10px;
  display: none;
  /* aqui muestra el div oculto */
}
